.alt-header{
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    padding-top: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.alt-header__title {
    font-size: 26px;
    font-weight: 600;
}